@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

html,
body {
  background-color: #eee;
  font-family: calibri, sans-serif;
}

#container {
  width: 760px;
  margin: 20px auto;
}

.box {
  width: 230px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.box img {
  width: 230px;
}

.box button {
  width: 50px;
  height: 50px;
  background: #ED277F;
  color: #ffffff;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-size: 1.4rem;
  position: absolute;
  right: 20px;
  top: 150px;
  box-shadow: 0 0 4px 2px rgba(80, 80, 80, 0.1);
  border: 0;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box button:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.box button:active {
  -webkit-transform: translateX(2px) translateY(2px);
      -ms-transform: translateX(2px) translateY(2px);
          transform: translateX(2px) translateY(2px);
}

.box h3 {
  margin-left: 20px;
}

.box p {
  margin-left: 20px;
}

.cart {
  margin-top: 50px;
  overflow: hidden;
}

.head {
  width: 100%;
  height: 40px;
  display: block;
}

.head h3 {
  display: inline-block;
  line-height: 40px;
  margin: 0;
}

#price {
  display: inline-block;
  color: #777777;
  margin-left: 200px;
  line-height: 40px;
}

#quantity {
  display: inline-block;
  color: #777777;
  margin-left: 100px;
  line-height: 40px;
}

#total {
  display: inline-block;
  color: #777777;
  line-height: 40px;
  float: right;
}

.row {
  width: 100%;
  border-bottom: 1px solid #BFBFBF;
  overflow: hidden;
  padding: 10px 0;
  display:block;
  flaot:left;
}

.row img {
  height: 100px;
  float: left;
}

.row h4 {
  float: left;
  margin: 0;
  line-height: 100px;
  margin-left: 20px;
  width: 100px;
}

.row p {
  float: left;
  margin: 0;
  width: 80px;
  line-height: 100px;
  margin-left: 35px;
  text-align: center;
}

.qty-minus {
  float: left;
  width: 20px;
  line-height: 100px;
  margin-left: 60px;
  text-align: center;
  cursor: pointer;
}

.qty {
  float: left;
  width: 20px;
  line-height: 100px;
  margin-left: 20px;
  text-align: center;
}

.qty-plus {
  float: left;
  width: 20px;
  line-height: 100px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
}

.del {
  float: left;
  width: 80px;
  line-height: 100px;
  margin-left: 60px;
  cursor: pointer;
  text-decoration: underline;
  color: #ED277F;
}

.totalprice {
  float: left;
  width: 80px;
  line-height: 100px;
  margin-left: 10px;
  text-align: right;
}
