@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800&subset=cyrillic-ext');

body {
  margin: auto;
  background: #eaeaea;
  font-family: 'Open Sans', sans-serif;
}

form,
main {
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  margin: 2% auto 5%;
  background-color: #FFFFFF;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 1px 1px 10px 1px #9E9E9E;
}

main p,
main h2,
main address {
  margin-left: 30px;
  margin-right: 30px;
}

main h2 {
  margin-top: 30px;
}

main p:last-child {
  margin-bottom: 30px;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color: #333;
}

p span {
  color: #F00;
}

h1 {
  text-align: center;
  color: #666666;
  text-shadow: 1px 1px 0px #FFFFFF;
  margin: 50px 0px 0px 0px;
}

input {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEEEEE;
  margin-bottom: 15px;
  width: 75%;
  height: 40px;
  float: left;
  padding: 0px 15px;
  outline: none;
  font-size: 16px;
  color: #666666;
  transition: 0.4s;
}

a {
  text-decoration: inherit;
}

textarea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEEEEE;
  margin: 0;
  width: 75%;
  height: 130px;
  float: left;
  padding: 10px 15px;
  outline: none;
  resize: none;
}

.form-group {
  display: block;
  min-width: 270px;
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background: #EEEEEE;
  height: 42px;
  position: relative;
  text-align: center;
  line-height: 40px;
}

i {
  color: #555555;
}

.button-contact,
.button-contact:focus {
  align-self: stretch;
  flex-grow: 10;
  background-color: #81BDA4;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
  transition: 0.4s;
  outline: none;
}

.button-contact:disabled {
  opacity: 0.5;
  filter: grayscale(100%);
  transition: 0.4s;
}

.button-contact:hover {
  background-color: #8DD0B4;
}

.button-contact:active {
  background-color: #73AA93;
}

.contentform {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 30px;
}

fieldset {
  border: none;
  box-sizing: border-box;
  padding: 0;
}

.hidden {
  display: none;
}
