canvas {
  position: relative;
  float: left;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid gray;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#canvas1 {
  margin-left: 1150px;
  margin-top: 30px;
}

.controls {
  position: relative;
  float: left;
  width: 200px;
  height: 800px;
  margin: 10px;
  padding: 12px;
  font-size: 13px;
  font-family: Arial;
  background: #D9D9D9;
  border: 1px solid gray;
  border-radius: 10px;
  transition: all 0.5s ease;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.controls h3 {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 10px;
  color: #3D3D3D;
}

.lightBorder {
  margin-top: 10px;
  margin-bottom: 18px;
  padding: 5px;
  background: #EEEEEE;
  border: 1px solid #B6B6B6;
  border-radius: 7px;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-left: 300px;
}

p {
  margin: 4px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
