@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body {
  padding: 5vh 5vw;
  font-family: open sans, helvetica, sans-serif;
  font-weight: 300;
  line-height: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body h1 {
  width: calc(100% - 2.5vw);
  padding-bottom: 2.5vh;
  text-align: center;
  color: #496E8C;
  border-bottom: 4px solid #B6EFDF;
}

section {
  display: flex;
  margin: 7vh 0;
}

h2 {
  width: 14vw;
  font-size: 1.2em;
}

main div {
  position: relative;
  z-index: 1;
  width: 7vw;
  height: 7vh;
  margin: .1em;
  line-height: 7vh;
  text-align: center;
  color: #B6EFDF;
  background: #496E8C;
  -webkit-transform: scale(0.99) rotateY(0deg);
  -moz-transform: scale(0.99) rotateY(0deg);
  -ms-transform: scale(0.99) rotateY(0deg);
  -o-transform: scale(0.99) rotateY(0deg);
  transform: scale(0.99) rotateY(0deg);
  -webkit-transition: all 0.8s ease, width 0s linear, height 0s linear;
  -moz-transition: all 0.8s ease, width 0s linear, height 0s linear;
  transition: all 0.8s ease, width 0s linear, height 0s linear;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: background, transform, color, z-index, width, height;
}

div.flip-it {
  z-index: 2;
  color: #496E8C;
  background: #B6EFDF;
  -webkit-transform: scale(2) rotateY(360deg);
  -moz-transform: scale(2) rotateY(360deg);
  -ms-transform: scale(2) rotateY(360deg);
  -o-transform: scale(2) rotateY(360deg);
  transform: scale(2) rotateY(360deg);
  -webkit-transition: all 0.8s ease, width 0s linear, height 0s linear;
  -moz-transition: all 0.8s ease, width 0s linear, height 0s linear;
  transition: all 0.8s ease, width 0s linear, height 0s linear;
}
