html {
	position: relative;
    min-height: 100%;
}

body {
	margin-top: 0;
	padding-top: 0;
}

.header-bar {
	background: rgba(0, 0, 0, 1);
	color: white;
	padding: 10px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10000;
}

@media (min-width: 760px){
	.main-view {
	height: 100%;
	margin-top: 4em;
	margin-bottom: 70px;

}
}

@media (max-width: 759px){
		.main-view {
	height: 100%;
	margin-top: 4em;
	margin-bottom: 70px;

}
}


.seating-chart {
	float: none;
  margin: 0 auto;
	border-radius: 10px;
	width: 680px;
	border: 2px solid black;
	background: rgba(200, 200, 200, 0.5);
}

.row-number {
	margin-top: 0em;
	padding: 0em 3em;
}

.seating-row {
	display: block;
	margin: 10px -20px;
	  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.seat {
	border-radius: 1em;
	border: 2px solid black;
	height: 5em;
	margin: 0em 0.1em;
	padding-top: 0.3em;
	width: 5em;
	background-color: white;
	cursor: pointer;
}

.no-seat {
	border-radius: 1em;
	border: none;
	height: 5em;
	margin: 0em 0.1em;
	padding-top: 0.3em;
	width: 5em;
}

.seat-label {
	font-size: 3em;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.adult{
	background-color: green;
	color: white;
}

.half {
background-color: green;
background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(0,255,255,.9) 15px, rgba(0,255,255,.9) 30px);
color: white;
}

.half > .seat-label {
	  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
	  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.total-bar {
	position: fixed;
	background: rgba(0, 0, 0, 1);
	left: 0;
	bottom: 0;
	height: 70px;
	width: 100%;
	color: white;
}

.total-contents {
	padding-top: 0.7em;
	font-size: 1.5em;
}

.total-number {
	font-size: 1.4em;
	font-weight: bold;
}

@media (max-width: 767px) {
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
@media (max-width: 767px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}
