* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #015b9d;
  position: relative;
  height: 100%;
}

#content {
  width: 940px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  padding: 50px 25px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.22), 0 10px 10px rgba(1,91,157,0.25);
          box-shadow: 0 14px 28px rgba(0,0,0,0.22), 0 10px 10px rgba(1,91,157,0.25);
}

input[type=number] {
  padding: 15px;
  font-size: 20px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #a6a6a6;
  margin-right: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  height: 55px;
  padding: 15px;
  vertical-align: top;
  font-size: 14px;
  background-color: #fff;
}

span {
  padding: 5px;
  width: 25px;
  height: 25px;
  vetical-align: middle;
  color: #015b9d;
  font-size: 26px;
}

output {
  display: block;
  margin-top: 25px;
  font-size: 26px;
  max-width: 550px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
}

#loader {
  text-align: center;
  padding: 25px;
  font-size: 24px;
  color: #fff;
}

.hidden {
  display: none;
}
